MainHUD {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	border-radius: 20px;

	.title {
		position: absolute;
		font-size: 25px;
		font-family: Poppins;
		color: #fff;
		text-stroke: 5 black;
		top: 10px;
		right: 10px;
	}

	.death-message {
		position: absolute;
		width: 100%;
		height: 100px;
		top: 30%;
		font-family: Poppins;
		color: red;
		text-stroke: 5 black;
		font-size: 100px;
		white-space: nowrap;
		text-align: center;
	}

	.winners {
		position: absolute;
		width: 100%;
		top: 50px;
		font-size: 25px;
		font-family: Poppins;
		color: #fff;
		text-stroke: 5 black;
		text-align: center;
	}
}
