@using System;
@using Sandbox;
@using Sandbox.UI;

@namespace Mini.UI.Menus

@inherits PanelComponent

<root class="@(Opened ? "" : "disabled")">
	<label class="Title">MINI</label>

	<div class="buttons">
		<div class="button" @onclick=@(Close)>
			<label class="label">Close</label>
		</div>
		<div class="button disabled">
			<label class="label">Settings</label>
		</div>
		<div class="button" @onclick=@(Leave)>
			<label class="label">Leave</label>
		</div>
	</div>
	
</root>

@code
{
	[Property]
	public string MainMenuScene { get; set; } = "scenes/mainmenu.scene";

	[Property]
	public bool Opened { get; set; } = false;

	[Button("Switch")]
	private void Switch() => Opened = !Opened;

	protected override int BuildHash() => Opened.GetHashCode();

	public void Open() => Opened = true;
	public void Close() => Opened = false;

	protected override void OnUpdate()
	{
		if(Input.EscapePressed)
		{
			Input.EscapePressed = false;
			Switch();
			Log.Info("asd");
		}
	}

	private void Leave()
	{
		var loadedMainMenu = Game.ActiveScene.LoadFromFile(MainMenuScene);
		if(!loadedMainMenu)
			Log.Error("Couldn't load main menu.");
	}
}