{
  "Defaults": {
    "solid": "Collide",
    "trigger": "Trigger",
    "ladder": "Ignore",
    "water": "Trigger",
    "player": "Collide",
    "playerclip": "Ignore"
  },
  "Pairs": [
    {
      "a": "solid",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "playerclip"
    },
    {
      "a": "trigger",
      "b": "solid",
      "r": "Trigger"
    },
    {
      "a": "playerclip",
      "b": "solid"
    },
    {
      "a": "player",
      "b": "player",
      "r": "Trigger"
    },
    {
      "a": "ladder",
      "b": "playerclip"
    },
    {
      "a": "water",
      "b": "playerclip"
    },
    {
      "a": "player",
      "b": "playerclip",
      "r": "Collide"
    },
    {
      "a": "playerclip",
      "b": "playerclip"
    }
  ],
  "__guid": "4258980a-ef08-4197-96f8-73be3ff4e11d",
  "__schema": "configdata",
  "__type": "CollisionRules",
  "__version": 1
}